.Bg{
    border:1px solid black; 
    width:800px;
    height:650px;
    margin:0 auto;
    margin-top:150px;
    border-radius:8px; 
    box-shadow: 1px 1px 10px black;
    background-color: #222A34;
}
 /* 
    border:1px solid black; - type of border - width style color
    width:800px;
    height:500px;
    margin:0 auto;
    margin-top:150px;
    border-radius:8px; 
    box-shadow: 1px 1px 10px black;
    background-color: gray;
  */

  .header_text{ 
    color:white;
    text-align: right;
    font-size: 40px;
    width: 100%;
    float: right;
    margin-right: 25px;
    margin-top: 4px;
  }

  .header_btn{  
    float:left;
    background-color: #475366;
    margin-top: -27px;
    margin-left: 25px;
    border: none;
    border-radius: 8px;
    height: 30px;
    width: 110px;
    padding-left: 29px;
    background-repeat: no-repeat;
    background-position: 10px;
    color: white;
    cursor: pointer;

    /* background-image: url('./assets/Upload.jpg'); */
  }

  .header { 
    position: relative;
    height: 80px;
  }

  .header_subtext { 
    color: white;
    top: 27px;
    position: absolute;
    left: 154px;
    direction: rtl; 
  }

  .main_div{    
    /* border:1px solid white; */
    height: 77%;
  }

  .left_div {   
    width: 67%;
    float: left;
    border: 1px solid white;
    height: 100%;
    color:white;
  }

  .right_div {   
    width: 30%;
    float: right;
    /* border: 1px solid white; */
    height: 100%;
    background-color: #2F3F4B;
    margin-right: 10px;
    border-radius: 8px;
  }

  .right_div_middle_div {   
    margin-top: 19%;
    height: 80%;
    background-color: #161B21;
  }

  .right_div_top_text {
    text-align: right;
    color: white;
    font-size: 25px;
    margin-right: 12px;
    margin-top: 12px;
  }

  .right_div_top_subtext {
    text-align: right;
    color: white;
    font-size: 25px;
    margin-right: 12px;
    margin-top: 12px;
  }

  .right_div_top_btn {
    width: 90%;
    height: 30px;
    border: none;
    border-radius: 25px;
    background-color: transparent;
    color: #03A9F4;
    border: 1px solid #03A9F4;
    margin-top: 14px;
  }

  .right_div_top{
    border-bottom: 1px solid #9E9E9E;
    width: 95%;
    margin: 0 auto;
    padding-bottom: 26px;
  }

  .main_div_tabs_header {
    color:white;
    background-color: #2F3F4B;
    height: 45px;
  }

  .main_div_tabs_header span {
    margin-left: 20px;
    cursor: pointer;
    float: right;
  }

  .no_bg {
    /* border-bottom: 3px solid #9C27B0; */
    border-bottom: "";
  }

  .original {
    border-bottom: "";
  }

  .original_tab, .no_bg_tab {
    /* border: 1px solid; */
    height: 80%;
    background-color: #161821;
  }

  .input_file{
    display: none;
  }

  .eula_btn {
    background-color: #495366;
    border: none;
    color: white;
    font-size: 12px;
    width: 102px;
    height: 25px;
    border-radius: 15px;
    float: left;
    margin: 15px;
    padding-left: 20px;
    cursor: pointer;
  }

  .download_iamge_popup
  {
    border: 1px solid black;
    background-color: white;
    width: 50%;
    margin: 0 auto;
    position: relative;
    top: -380px;
    height: 200px;
  }