.Bg{
    border:1px solid black; 
    width:800px;
    height:500px;
    margin:0 auto;
    margin-top:150px;
    border-radius:8px; 
    box-shadow: 1px 1px 10px black;
    background-color: #222A34;
}
 /* 
    border:1px solid black; - type of border - width style color
    width:800px;
    height:500px;
    margin:0 auto;
    margin-top:150px;
    border-radius:8px; 
    box-shadow: 1px 1px 10px black;
    background-color: gray;
  */

  .header_text{ 
    color:white;
    text-align: right;
    font-size: 31px;
    width: 100%;
    float: right;
    margin-right: 25px;
    margin-top: 25px;
  }

  .header_btn{  
    float:left;
    background-color: #475366;
    margin-top: -50px;
    margin-left: 25px;
    border: none;
    border-radius: 8px;
    height: 30px;
    width: 110px;
    padding-left: 29px;
    background-repeat: no-repeat;
    background-position: 10px;
    color: white;

    /* background-image: url('./assets/Upload.jpg'); */
  }