.eula_div{
    position: absolute;
    background-color: white;
    color: black;
    width: 743px;
    top: 258px;
    padding: 20px;

}

.eula_close_img {
    width: 50px;
    height: 40px;
    position: relative;
    top: -20px;
    left: -52px;
}